<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your File</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="./upload.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <span class="logo">LOGO</span>
            <div>

                <!-- make this dynamically add user id before navigation -->
                <div class="button">
                    <span class="status">
                        <a href="/status/?user=<%= userId %>">Status</a>
                    </span>
                </div>
                <div class="button">
                    <span class="logout">
                        <a href="/logout">Logout</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-container">
            <div class="form-body">
                <div class="title">Upload Your Documents</div>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="body">

                        <!-- firstname etc -->
                            <div>
                                <span>Firstname</span>
                                <input type="text" placeholder="firstname" name="fname" required>
                            </div>
                            <div>
                                <span>Surname</span>
                                <input type="text" placeholder="surname" name="sname" required>
                            </div>
                            <div>
                                <span>Lastname</span>
                                <input type="text" placeholder="lastname" name="lname" required>
                            </div>

                        <!-- utme etc -->
                            <div>
                                <span>Waec</span>
                                <input id="waec" type="file" accept="image/*" name="file" required>
                            </div>
                            <div>
                                <span>Neco</span>
                                <input id="neco" type="file" accept="image/*" name="file" required>
                            </div>
                            <div>
                                <span>Utme</span>
                                <input id="utme" type="file" accept="image/*" name="file" required>
                            </div>
                        
                        <!-- state etc -->
                            <div>
                                <span>Address</span>
                                <input type="text" placeholder="Salt Lake Avenue" name="address" required>
                            </div>
                            <div>
                                <span>State</span>
                                <input type="text" placeholder="Lagos" name="state" required>
                            </div>
                            <div>
                                <span>DOB</span>
                                <input type="date" placeholder="date of birth" name="dob" required>
                            </div>
                    </div>
                    <div class="btn">
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>

        let form = document.querySelector('form')

        form.addEventListener('submit', async function(e) {
            e.preventDefault();

            // form body selectors
            let fname = form.fname.value;
            let sname = form.sname.value;
            let lname = form.lname.value;
            let state = form.state.value;
            let address = form.address.value;
            let dob = form.dob.value;

            // form file Selectors
            let waec = document.getElementById('waec');
            let neco = document.getElementById('neco');
            let utme = document.getElementById('utme');

            // cloudinary auth
            const api_key = "917878775246812"
            const cloud_name = "dxxswax97"
        
        
            const signatureResponse = await fetch("/get-signature", {
                method: "GET",
                headers: {
                    'content-type': 'application/json'
                }
            })

            let signatureData = await signatureResponse.json()

            let profileData = new FormData();
            profileData.append('firstname', fname)
            profileData.append('surname', sname)
            profileData.append('lastname', lname)
            profileData.append('state', state)
            profileData.append('address', address)
            profileData.append('dob', dob)


            let dataWaec = new FormData();
            dataWaec.append('file', waec.files[0]);
            dataWaec.append("api_key", api_key)
            dataWaec.append("signature", signatureData.signature)
            dataWaec.append("timestamp", signatureData.timestamp)


            let dataNeco = new FormData();
            dataNeco.append('file', neco.files[0]);
            dataNeco.append("api_key", api_key)
            dataNeco.append("signature", signatureData.signature)
            dataNeco.append("timestamp", signatureData.timestamp)


            let dataUtme = new FormData();
            dataUtme.append('file', utme.files[0]);
            dataUtme.append("api_key", api_key)
            dataUtme.append("signature", signatureData.signature)
            dataUtme.append("timestamp", signatureData.timestamp)
            


            let uploadWaec = await fetch(`https://api.cloudinary.com/v1_1/${cloud_name}/auto/upload`, {
                method: "POST",
                body: dataWaec
            });

            let waecRes = await uploadWaec.json()

            let uploadNeco = await fetch(`https://api.cloudinary.com/v1_1/${cloud_name}/auto/upload`, {
                method: "POST",
                body: dataNeco
            });

            let necoRes = await uploadNeco.json()
            
            let uploadUtme = await fetch(`https://api.cloudinary.com/v1_1/${cloud_name}/auto/upload`, {
                method: "POST",
                body: dataUtme
            });

            let utmeRes = await uploadUtme.json()


            //console.log(waecRes, necoRes, utmeRes)

            let fileData = [
                {
                    id: "waec",
                    public_id: waecRes.public_id,
                    signature: waecRes.signature
                },
                {
                    id: "neco",
                    public_id: necoRes.public_id,
                    signature: necoRes.signature
                },
                {
                    id: "utme",
                    public_id: utmeRes.public_id,
                    signature: utmeRes.signature
                }
            ]


            // send the image info back to our server
            let uploadRequest = await fetch("/upload-mutiple", {
                'credentials': 'include',
                method: "POST",
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({ profileData, files: fileData})
            })

            let res = await uploadRequest.json()
            return uploadRequest.status === 200 ? location.assign(`/status/?user=${res.id}`) : console.log(res.message)



        })
    </script>

</body>
</html>