@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "navbar"
        "main";
    place-items: center;
    align-items: stretch;
    gap: 46px;
    font-family: poppins, sans-serif;
}


.navbar {
    grid-area: navbar;
    display: flex;
    width: 80%;
    padding: 10px;
    background-color: rgb(205, 202, 202);
    border-radius: 5px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.navbar .logo {
    font-size: 1.2rem;
}

.navbar div div span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100px;
    padding: 2px;
    border-radius: 4px;
}

.navbar .login::before {
    content: 'login';
    font-family: "Material Icons Outlined";
}

.navbar .logout::after {
    content: 'logout';
    font-family: "Material Icons Outlined";
}

a:any-link {
    color: black;
}

.navbar div {
    display: flex;
    gap: 10px;
}


.table-container {
    grid-area: main;
    width: 80%;
    padding: 10px;
}

.table-container .title {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.table-container .table-controls {
    display: flex;
    justify-content: end;
}

.table-container .table-controls .refresh {
    display: flex;
    align-items: center;
}

.table-container .table-controls .refresh::after {
    content: 'reload';
    width: 50px;
}

.table-container .head {
    background-color: rgb(211, 208, 208);
    border-radius: 5px;
    height: 40px;
    margin-bottom: 5px;
}

.table-container .head, .body .row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.table-container .child {
    margin-left: 10px;
    margin-bottom: 5px;
}

.table-container .child .submit-btn {
    width: 50%;
    height: 30px;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
}

.table-container .footer {
    display: flex;
    align-items: center;
    background-color: rgb(211, 208, 208);
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
    justify-content: center;
}

.table-container .footer button {
    width: 60px;
    height: 35px;
    font-size: 1.4rem;
    margin: 2px 5px;
    appearance: none;
    cursor: pointer;
    transition: 200ms all;
    border-radius: 4px;
    border: 1px solid rgb(183, 183, 243);
}

.table-container .footer button:hover {
    transform: scale(.8);
}

.table-container .footer button.active {
    background-color: rgb(183, 183, 243);
}


